# Ignore node_modules directory
node_modules/

# Ignore logs
logs/

# Ignore built files
dist/
build/

# Ignore environment variables
.env

# Ignore npm lock file
package-lock.json


# Ignore .DS_Store files
.DS_Store

# Ignore .vscode directory
.vscode/

# Ignore draft_spec.yaml
draft_spec.yaml

